:root {
    box-sizing: border-box;
    --main-bg-color: #284a45;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    color: #050581;
    background-color: lemonchiffon;
}

h4 {
    color: darkcyan;
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    overflow: hidden;
}

.item {
    height: 100px;
    width: 100px;
    background-color: bisque;
    margin: 0 2%;
}

.item-center {
    background-color: aqua;
    flex: 1;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}